@import "Swiper.css";
@import "Project.css";

.app {
}
.Navigation {
  position: absolute;
  top: 8px !important;
  bottom: auto !important;
  right: auto !important;
  left: 6px !important;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(0,0) !important;
  transition: 1s;
}
.Navigation > a {
  border-radius: 50%;
  background-color: white !important;
  padding: 4px !important;
}
.Navigation > a.active{
  transition: all 1s ease 0s !important;
  background-color: red !important;
  padding: 4px !important;
  box-sizing: border-box !important;
}

/* first dot */
.Navigation > a.active:nth-child(1){
  background-color: green !important
}
/* second dot */
.Navigation > a.active:nth-child(2){
  background-color: blue !important
}
/* third dot */
.Navigation > a.active:nth-child(3){
  background-color: yellow !important
}
/* fourth dot */
.Navigation > a.active:nth-child(4){
  background-color: pink !important
}
/* fifth dot */
.Navigation > a.active:nth-child(5){
  background-color: orange !important
}

.content-wrapper {
  height: auto;
  max-width: 960px;
  width: 60%;
  align-self: center;
  z-index: 2;
}
.flex-centred {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.fullpage-slide{
  justify-content: center;
  align-items: stretch;
}
.slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.link {
  color: #61dafb;
}
