.swiper-container {
  height: 100%;
  width: auto;
}
.my-swiper-button-prev,
.my-swiper-button-next {
  position: absolute;
  top: calc(49% - 48px);
  width: 36px;
  height: 36px;
  padding: 48px;
  z-index: 10;
  cursor: pointer;
  transition: .3s .5s
}
.my-swiper-button-next {
  right: 0;

}
.swiper-button-disabled {
  opacity: 0;
  transition: .3s
}
@media screen
  and (min-width: 1200px) {
    .my-swiper-button-prev{
      top: calc(49% - 124px);
      padding: 124px;
    }
    .my-swiper-button-next {
      top: calc(49% - 124px);
      padding: 124px;
    }
}
